.header-image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
    top: 0;
    position: absolute;
    margin: auto;
    bottom: 0;
}

.btn-color {
    border: 0.125rem solid #47aa3a;
    background-color: #47aa3a;
}

.btn-color:hover {
    color: #47aa3a;
}

.nav-link.active{
    color: #47aa3a!important;
}
.nav-link:hover{
    color: #47aa3a!important;
}

.back-to-top{
    background: #47aa3a url(images/up-arrow.png) no-repeat center 47% !important;
}
.icon{
    color: #47aa3a !important;
}